@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  transition: opacity 0.5s ease;
}

a:hover {
  opacity: 80%;
}

body {
  font-size: 62.5%;
  font-family: "Inter", monospace;
}

.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;

  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  border: 5px solid black;

  overflow: hidden;
}

header,
footer {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

header > h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

header > nav > ul {
  display: flex;
  justify-content: center;
  gap: 5rem;

  margin: 1rem auto 0 auto;

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  list-style: none;
  font-size: 1.5rem;
}

header > nav > ul > li {
  padding: 0.2rem 0;
}

.bag-popup {
  position: absolute;
  top: 7rem;
  right: 37%;

  display: grid;
  grid-template-columns: auto 1fr;

  width: 15rem;
  background-color: white;
  padding: 0.5rem;

  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  z-index: 1;

  transition: all 0.5s ease;
}

.bag-popup > img {
  width: 4rem;
}

.item-added-msg {
  align-self: center;
  justify-self: center;
  padding-left: 0.5rem;

  font-size: 0.8rem;
}

.item-added-size, .item-added-qty-price {
  text-align: center;
}

main {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5rem; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  width: 70%;
  margin: 1rem auto;

  font-size: 2rem;
}

.shirt-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20rem;
  height: 25rem;
  border: 2px solid whitesmoke;

  transition: border 0.5s ease;
}

.shirt-container:hover {
  border: 2px solid black;
}

.shirt-content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: #000;

  /* border: 1px solid red; */

  overflow: hidden;

  /* cursor: pointer; */
}

.shirt-image {
  display: block;
  width: 100%;
}

.shirt-description {
  position: absolute;
  bottom: 1rem;

  width: 100%;
  font-size: 1.2rem;
  text-align: center;

  /* border: 1px solid blue; */
}

.shirt-price {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;

  border-radius: 5px;

  background-color: #000;
  color: white;
}

.sale {
  position: absolute;
  top: 24px;
  left: -28px;

  width: 8rem;

  transform: rotate(-45deg);

  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  background-color: red;
  color: white;
}

.shirt-content > .color-selection {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 2.5rem;
  padding: 0 4rem;
  padding-bottom: 0.8rem;

  background-color: white;
  /* border: 1px solid orange; */
}

.shirt-content > .color-selection > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  font-size: 1.6rem;

  border: 1px solid black;

  cursor: pointer;
}

.shirt-drawer {
  position: absolute;
  bottom: -11.5rem;

  width: 100%;
  height: 60%;

  background-color: white;

  border-top: 1px solid black;

  transition: bottom 0.5s ease;
}

.shirt-drawer > .bag-icon {
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%);

  width: 4rem;
  height: 2.2rem;
  padding: 0.1rem;

  text-align: center;
  font-size: 1.6rem;

  border-radius: 5px 5px 0 0;
  background-color: white;

  cursor: pointer;

  border: 1px solid black;
  border-bottom: none;

  /* border: 1px solid green; */
}

.shirt-selections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin-top: -1rem;

  font-size: 1.2rem;
  font-weight: 600;
}

.tshirt-size, 
.tshirt-quantity {
  width: 7rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

.tshirt-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.9rem;
  border: 1px solid black;
}

.minus-shirt, .plus-shirt {
  font-size: 1.2rem;
  cursor: pointer;
}

.label-quantity {
  margin-top: 0.8rem;
}

.tshirt-quantity {
  text-align: center;
}

.addtobag-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #000;
  color: white;
  padding: 0.2rem;

  font-size: 1.2rem;

  cursor: pointer;
}

footer {
  width: 70%;
  margin: 0 auto;
  font-size: 1.6rem;
  border-top: 1px solid black;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  padding: 1rem;
}

.hidden {
  opacity: 0;
}
